<p>
	This email was sent to let you know that the following items are currently at or below their low inventory threshold.
</p>
<%if @product.product_images.length > 0 %>
<img src='<%= @product.product_images.first.image %>'/>
<%end%>
<p><strong>Product SKU's:</strong></p>
<p> 
	<% @product.product_skus.each do |sku| %>
		<%=sku.sku %>
    <% end %> 
</p>
<p><strong>Product Name:</strong></p>
<p> <%= @product.name %></p>

<table style="border: 1px solid black;">
	<thead>
		<th style="border: 1px solid black;">Available Quantity</th>
		<th style="border: 1px solid black;">Threshold</th>
		<th style="border: 1px solid black;">Warehouse name</th>
	</thead>
	<tbody>
		<% @product.product_inventory_warehousess.each do |wh| %>
		<tr style="border: 1px solid black;">
			<% if wh.available_inv <= GeneralSetting.all.first.default_low_inventory_alert_limit %>
			<td style="border: 1px solid black;"><span style="color:red;"> 
				<%= wh.available_inv %>
				</span></td>
			<td style="border: 1px solid black;"><span style="color:red;"> 
				<%= GeneralSetting.all.first.default_low_inventory_alert_limit %></span></td>
			<%else %>
			<td style="border: 1px solid black;"><span>
				<%= wh.available_inv / GeneralSetting.all.first.default_low_inventory_alert_limit%>
				</span></td>
			<td style="border: 1px solid black;"><%= GeneralSetting.all.first.default_low_inventory_alert_limit %></td>
			<% end %>
			<td style="border: 1px solid black;"><%= wh.inventory_warehouse.name %></td>
		</tr>
		<% end %>
	</tbody>
</table>
