<p><strong> Tenant: </strong><%= @current_tenant %></p>
<p><strong> Name of imported file: </strong><%= @file_name %></p>
<p><strong> Orders in file: </strong><%= @order_in_file %></p>
<p><strong> New orders imported: </strong><%= @new_order %></p>
<p><strong> Existing orders updated: </strong><%= @update_order %></p>
<p><strong> Existing orders skipped: </strong><%= @skip_order %></p>
<p><strong> Orders in GroovePacker before import: </strong><%= @total_order %></p>
<p><strong> Orders in GroovePacker after import: </strong><%= @after_import %></p>
