<!DOCTYPE html>
<html>
<head>
</head>
<body style="margin-left: 2px; margin-top: 2px; margin-right: 2px; margin-bottom: 1px">
<% unless @order.increment_id.nil? %>
  <% unless @order.get_items_count.nil? %>
    <div style="font-size: 17px; margin-left: 10px; margin-top: 0px; margin-bottom: 5px; max-width: 255px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
      <span style="font-size: 29px; font-weight: bold;"><%= @order.get_items_count %></span>&nbsp;<%= @order.firstname %>&nbsp;<%= @order.lastname %>
    </div>
  <% end %>

  <% barcode_string = generate_barcode(@order.increment_id) %>
  <div style="margin-top:3px;">
    <center><%= pdf_image_tag(barcode_string+".png", {:width => 320, :height => 60}) %></center>
  </div>
  <div style="line-height: 6px; font-size:12px;">
    <center>*<%= @order.increment_id %>*</center>
  </div>
<% else %>
  <br/>

  <div style="font-size: 22px; margin-bottom: 10px; margin-left: 45px;">Barcode not available</div>
<% end %>
</body>
</html>
