<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>

<p>
  <b>Storename:</b>
  <%= @order.storename %>
</p>

<p>
  <b>Customercomments:</b>
  <%= @order.customercomments %>
</p>

<p>
  <b>Store:</b>
  <%= @order.store %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
