<div> 
	<p>A new invoice has been created for the website <i><%=tenant_name%>.groovepacker.com</i></p>
	<p>invoice date: <%=invoice.date%></p>
	<p>invoice id: <%=invoice.invoice_id%></p>
	<p>invoice subscription_id: <%=invoice.subscription_id%></p>
	<p>invoice customer_id: <%=invoice.customer_id%></p>
	<p>invoice charge_id: <%=invoice.charge_id%></p>
	<p>invoice paid: <%=invoice.paid%></p>
	<p>invoice plan_id: <%=invoice.plan_id%></p>
	<p>invoice period_start: <%=invoice.period_start%></p>
	<p>invoice period_end: <%=invoice.period_end%></p>
	<p>invoice amount: <%=invoice.amount%></p>
	<p>invoice quantity: <%=invoice.quantity%></p>
</div>