<div style="padding-top: 20px;">
	<div class="well span7" style="margin-left: 250px;">
		<div class="span1"  style=" margin-bottom: 5px; align: right;">
			<%= link_to 'Back', {action: 'select_plan'}, class: "btn btn-primary"%>
		</div>
		<%= form_for :information, url: {action: 'new'} do |f|%>
			<div class="control-group span6">
				<label class="control-label span1">Email:</label>
				<div class="controls span4">
					<%= f.email_field :email %>
				</div>
				<label class="control-label span1">Username:</label>
				<div class="controls span4">
					<%= f.text_field :user_name %>
				</div>
				<label class="control-label span1">Password:</label>
				<div class="controls span4">
					<%= f.password_field :password %>
				</div>
				<label class="control-label span1">Confirm Password:</label>
				<div class="controls span4">
					<%= f.password_field :confirm_password %>
				</div>
				<div style="margin-left: 150px;"><center><%= f.button('Purchase Now', {class: 'btn btn-primary span2'})%></center>
				</div>
			</div> 
		<%end%>
	</div> 
</div>