<div class="row">
  <div class="box-outer">
    <div class="box"></div>
    <div class="col-sm-offset-3 col-sm-6">
      <img src="/assets/images/logo.png" class="col-xs-12" alt="GroovePacker"/>
    </div>
  </div>
</div>
<div class="row bottom-well col-sm-offset-1 col-sm-10">
  <div class="col-sm-12">
    <div class="col-sm-4 text-center">
      <div class="well">
        <h2>SOLO</h2>
        <h1>$30.00</h1>
        <p>You will be allowed access for 1 store</p>
        <%= link_to 'Select', {action: 'new', controller: 'subscriptions', plan_id: 'groove-solo'}, class: "btn btn-primary" %>
      </div>

    </div>
    <div class="col-sm-4 text-center">
      <div class="well">
      <h2>DUO</h2>
      <h1>$60.00</h1>
      <p>You will be allowed access for 2 stores</p>
      <%= link_to 'Select', {action: 'new', controller: 'subscriptions', plan_id: 'groove-duo'}, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="well">
        <h2>TRIO</h2>
        <h1>$80.00</h1>
        <p>You will be allowed access for 3 stores</p>
        <%= link_to 'Select', {action: 'new', controller: 'subscriptions', plan_id: 'groove-trio'}, class: "btn btn-primary" %>
      </div>

    </div>
  </div>

  <div class="col-sm-12">
    <div class="col-sm-offset-2 col-sm-4  text-center">
      <div class="well">
      <h2>QUINTET</h2>
      <h1>$100.00</h1>
      <p>You will be allowed access for 5 stores</p>
      <%= link_to 'Select', {action: 'new', controller: 'subscriptions', plan_id: 'groove-quintet'}, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="well">
      <h2>SYMPHONY</h2>
      <h1>$200.00</h1>
      <p>You will be allowed access for 8 stores</p>
      <%= link_to 'Select', {action: 'new', controller: 'subscriptions', plan_id: 'groove-symphony'}, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

</div>

