<h3>Subscription has failed:</h3>
<% unless @exception.nil? %>
  <p><strong>Tenant Name: </strong><%=@subscription.tenant_name%></p>
  <p><strong>Tenant Email: </strong><%=@subscription.email%></p>
  <p><strong>Tenant Username: </strong><%=@subscription.user_name%></p>
  <p><strong>Exception Date/Time: </strong><%=(Time.now + GeneralSetting.first.try(:time_zone).to_i).strftime("%e %b %Y %H:%M")%></p>
  <% unless @exception.nil? %>
  <p><strong>Exception message: </strong><%=@exception.message%></p>
  <p><strong>Exception backtrace: </strong></p>
  <p><%= raw(@exception.backtrace.join("<br/>")) %></p>
  <% end %>
<%end%>

