<div style="-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; position: relative; margin: auto; padding: 10px 50px 100px 50px; border: 4px solid rgba(128, 128, 128, 1); -webkit-border-radius: 24px / 23px; border-radius: 24px / 23px; color: rgba(0,0,0,0.9); -o-text-overflow: clip; text-overflow: clip; background: url('http://www.groovepacker.com/site/images/background_image.png') no-repeat #000; background-position: 50% 50%; -webkit-background-origin: padding-box; background-origin: padding-box; -webkit-background-clip: border-box; background-clip: border-box; -webkit-background-size: cover; background-size: cover; -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4); box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4);"><a href="http://www.groovepacker.com/"><img style="margin: auto; display: block;" src="http://www.groovepacker.com/site/images/GroovePacker_Bc_logo_400x73.png" alt=""></a>
  <h1 style="text-align: center; text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);  font-family: 'Arial', sans-serif; font-family: 'Play', sans-serif; font-weight: 700; color: #95E329; font-size: 25px;">
    Order Export Report<br />
  </h1>
  <div style="width: 96%; margin-left:auto; margin-right:auto; background: #C1C2C1; border-color: #aca3a3; border-width: 4px; border-radius: 20px; font-family: 'Lato', sans-serif; padding: 15px; border-style: double; -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4); box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.8);">
    <table style="margin:0 auto;margin-top: 20px; border-spacing: 0; background-color:#e8e7e7;border-radius:15px;">
      <thead>
        <% @csv_data.first.each_with_index do |th, index| %>
          <% if index == 0 %>
            <th style="border-top-left-radius:15px;-webkit-border-top-left-radius:15px;width:150px;text-align: center;line-height: 0.9;vertical-align: middle;position: relative;font-size: 14px;font-family: 'Play', sans-serif;color: #ffffff;border-bottom: 2px solid #8AC007;background-color: #2D2D2C;padding: 14px 10px;border-right: 2px solid #8AC007;">
              <%=th.titleize%>
            </th>
          <%elsif index == (@csv_data.first.size - 1) %>
              <th style="border-top-right-radius:15px;-webkit-border-top-right-radius:15px;width:150px;text-align: center;line-height: 0.9;vertical-align: middle;position: relative;font-size: 14px;font-family: 'Play', sans-serif;color: #ffffff;border-bottom: 2px solid #8AC007;background-color: #2D2D2C;padding: 14px 10px;">
                <%=th.titleize%>
              </th>
          <% else %>
            <th style="width:150px;text-align: center;line-height: 0.9;vertical-align: middle;position: relative;font-size: 14px;font-family: 'Play', sans-serif;color: #ffffff;border-bottom: 2px solid #8AC007;background-color: #2D2D2C;padding: 14px 10px;border-right: 2px solid #8AC007;">
            <%=th.titleize%>
            </th>
          <% end %>
        <% end %>
      </thead>
      <tbody>
        <% for i in 1..(@csv_data.size - 1) do %>
          <tr style="text-align:center;<%= ((i % 2) == 0 )? 'background:#dcdcdc;':''%>">
            <% if @csv_data[i] %>
              <% @csv_data[i].each_with_index do |td, td_index| %>
                <% if td_index == @order_number %>
                  <% order=Order.where(increment_id: td).first %>
                  <td>
                    <a href="https://<%=@tenant_name%>.groovepacker.com/#/orders/scanned/1/<%= order.id%>" style="font-weight:bold; color:#66A909;"><%= td %></a>
                  </td>
                <% else %>
                  <% if i == (@csv_data.size - 1) %>
                    <% if td_index == 0 %>
                      <td style="border-bottom-left-radius:15px;-webkit-border-bottom-left-radius:15px;"><%=td%></td>
                    <% elsif td_index == (@csv_data[i].size-1) %>
                      <td style="border-bottom-right-radius:15px;-webkit-border-bottom-right-radius:15px;"><%=td%></td>
                    <% else %>
                      <td><%=td%></td>
                    <% end %>
                  <% else %>
                    <td><%=td%></td>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <%if @counts %>
      <p>Order imported today: <%=@counts['imported']%></p>
      <p>Order scanned today: <%=@counts['scanned']%></p>
      <% if @counts['imported'] > 0 %>
        <p>Today's Order Remaining Awaiting: <%=@counts['awaiting']%></p>
        <p>Today's Order Remaining On Hold: <%=@counts['onhold']%></p>
        <p>Today's Order Remaining Cancelled: <%=@counts['cancelled']%></p>
      <% end %>
    <% end %>
  </div>
</div>
