<!DOCTYPE html>
<html>
<head>
</head>
<% @order_items.each do |item| %>
  <% item.qty.times do %>
    <body style="line-height: 90%; margin-left: 3px; margin-top: 3px; margin-right: 2px; margin-bottom: 1px">
      <div style="page-break-before: always;">
        <% if !item.product.nil? && !item.product.product_barcodes.first.nil? && !item.product.product_barcodes.first.barcode.nil? %>
          <% unless item.product.primary_sku.nil? %>
            <div style="line-height: 80%; font-size: 16px; margin-left: 10px; margin-top: 0px; margin-bottom: -5px;"><%= item.product.primary_sku %></div>
            <br/>
          <% end %>
          <div style="font-size: 16px; margin-left: 10px; margin-top:-5px; margin-bottom: 3px; max-width: 320px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><%= item.product.name %></div>
          <% barcode_string = generate_barcode(item.product.primary_barcode) %>
          <div style="margin-top:7px;">
            <center><%= pdf_image_tag(barcode_string+".png", {:width => 320, :height => 60}) %></center>
          </div>
          <div style="line-height: 8px; font-size:12px; margin-bottom: 0px; margin-top:6px;">
            <%= item.order.increment_id rescue nil%><center>*<%=  item.product.primary_barcode %>*</center>
          </div>
        <% else %>
          <% unless item.product.primary_sku.nil? %>
            <div style="line-height: 90%; font-size: 15px; margin-left: 10px; margin-top: 0px; margin-bottom: -5px;"><%= item.product.primary_sku %></div>
            <br />
          <% end %>
          <div style="font-size: 15px; margin-left: 10px; margin-top:-5px; margin-bottom: 3px; max-width: 255px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><%= item.product.name %></div>
          <div style="font-size: 20px; margin-top:20px; margin-bottom: 10px; margin-left: 45px;">Barcode not available</div>
        <% end %>
      </div>
    </body>
  <%end%>
<%end%>
</html>
