<!DOCTYPE html>
<html>
<head>
</head>
<body style="line-height: 10px; margin-left: 3px; margin-top: 2px; margin-right: 2px; margin-bottom: 2px">
  <!--Here is the product information<br>
    Name: 
    <%=@product.name %>
    ID: 
    <%=@product.id %>
    <br>
    Product Type:
    <%=@product.product_type %>
    <br>
    Status:
    <%=@product.status %> -->
    <%if !@product.product_barcodes.first.nil? && !@product.product_barcodes.first.barcode.nil? %>
      <%sku = @product.product_skus.first%>
      <%unless sku.nil?%>
        <%barcode = @product.product_barcodes.new%>
        <%barcode.barcode = sku.sku%>
        <span style="font-size: 14px;">SKU-NUMBER <%= barcode.barcode%></span> <br/>
      <%end%>
      <span style="font-size: 12px; margin-bottom: 10px;">Item Name <%= @product.name%></span>
      <br/>
      <br/>
      <% barcode = @product.product_barcodes.first.barcode %>

      <% generate_barcode(barcode)%>
      <%= pdf_image_tag(barcode+".png") %>
      <br/>
      <p style="text-align:center; font-size:10px; line-height: 0px;">*BARCODE*</p>
    <%else%>
      <span style="font-size: 14px; margin-bottom: 10px;">Barcode not available</span>
    <%end%>
</body>
</html>

 
