<!DOCTYPE html>
<html>
<head>
</head>
<body style="line-height: 12px; margin-left: 3px; margin-top: 2px;">
  <!--Here is the product information<br>
    Name: 
    <%=@product.name %>
    ID: 
    <%=@product.id %>
    <br>
    Product Type:
    <%=@product.product_type %>
    <br>
    Status:
    <%=@product.status %> -->
    
    <%if !@product.product_barcodes.first.nil?%>
      <%sku = @product.product_skus.first%>
      <%unless sku.nil?%>
        <%barcode = @product.product_barcodes.new%>
        <%barcode.barcode = sku.sku%>
        <span style="font-size: 14px;">SKU-NUMBER <%= barcode.barcode%></span> <br/>
      <%end%>
        <span style="font-size: 13px;">Item Name <%= @product.name%></span>
      <br>
    <%end%>
</body>
</html>

 
