<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Groovepacks" %></title>
     <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Groovepacks" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!--[if lt IE 8]>
    <%#= stylesheet_link_tag "font-awesome-ie7.min.css", media: "all" %>
    <![endif]-->
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%#= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe_key", :content => STRIPE_PUBLIC_KEY %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="wrap">
    <div id="main" role="main">
      <div class="container app-container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= yield %>
      </div>
    </div> <!--! end of #main -->
    </div>
      <section class="footer">
      <div class="container">
        <p class="muted credit">Copyright &copy; Groovepacker. All rights reserved.</p>
      </div>
    </section>
  </body>

</html>
